#  Loop Design Pattern

Most loops (_not all of them_) have the following common parts, in this order: 

1. **Initialization** of iterator, result and other variables. 

2. **Continuation condition** (a.k.a. Termination condition)

3. **Body** of the loop _(Indented, compute result)_ 

4. **Update** of iterator and other variables _(Indented)_
    * Last lines of the body

`initialization
while ( continuation-condition ) {
    body
    update
}`

## $summ(n) =  \sum_{i=1}^{n} i$

In [ ]:
"""The most common loop design pattern

In this particular case, the following two lines 
make up both the 3. Body and 4. Updates of the loop
"""

i = 1                   # 1. Initialization of iterator 

summ = 0                # 1. Initialization of the variable holding the 
                        #    result value we are interested in computing

while i <= n:           # 2. Continuation/Termination condition 
    
    summ = summ + i     # 3/4. Update result  
    i = i + 1           # 3/4. Update iterator 
    
print(summ)

# QUESTION 1. 

$$\require{cancel}$$  

Given an `n`, implement: 

$\cancel{sum\_of\_factorials =  \sum_{i=1}^{n} i!}$

Note that this is equivalent to: 

$\cancel{sum\_of\_factorials =  \sum_{i=1}^{n} \prod_{j=1}^{i} j}$

For example, for `n=4`:

`sum_ij = 1 + (2*2) + (3*3*3) + (4*4*4*4)`\
`sum_ij = 288`

In [155]:
def sum_of_factorials(n):
    total = 0
    i = 1
    while i <= n:
        j = 1
        subtotal = 1

        while j <= i:
            subtotal = subtotal * i 
            j = j + 1
            
        total = total + subtotal
        i = i + 1
    return total

In [157]:
sum_of_factorials(4)

288

# QUESTION 2.  
Write a function **`left_triangle`** that takes one input `n` and prints a triangle of numbers from `1-n` as shown below. 

The input `n` must be an integer from `1` to `9`. 

For any other input, **`raise`** an appropriate Error with an informative error message. 

Use the provided **`print_same_line(x)`** function to print on the same line and the provided **`go_to_newline()`** function to go to next line. 

<hr />

**Example 1**: \
_Input_: `n=3` \
_Ouput_: \
1\
22\
333
<hr /> 

**Example 2:** \
_Input_: `n=9` \
_Output_: \
1\
22\
333\
4444\
55555\
666666\
7777777\
88888888\
999999999

<hr/>

In [165]:
print_same_line(2)
print_same_line(2)

22

In [166]:
print_same_line(2)
print_same_line(2)
go_to_newline()
print_same_line(3)
print_same_line(3)
print_same_line(3)

22
333

In [163]:
def print_same_line(x):
    print(x, end='')
    
def go_to_newline():
    print()
    
def left_triangle(n):
    """Takes an input n (1-9) and prints a left-aligned 
    triangle of n-rows such that such that 
    each row i (1 <= i <= n), in ascending order, is
    composed of only the ith number and the
    "length" of the row is equal to the value of i
    """
    return

left_triangle(4)

# """ 
# Example usage of print_same_line 
# and go_to_line
# """
# print_same_line(2)
# print_same_line(2)

# go_to_newline()

# print_same_line(3)
# print_same_line(3)
# print_same_line(3)

# left_triangle()

1
22
333
4444

' \nExample usage of print_same_line \nand go_to_line\n'

In [ ]:
def left_triangle(n):

            
print_triangle(9)

# QUESTION 3.

Write a function **`right_triangle`** that takes one input `n` and prints a triangle of numbers from `1-n` as shown below. 

The input `n` must be an integer from `1` to `9`. 

For any other input, **`raise`** an appropriate Error with an informative error message. 

Use the provided **`print_same_line(x)`** function to print on the same line and the provided **`go_to_newline()`** function to go to next line. 


<hr />


**Example 1**: 

_Input_: `n=3` 

_Ouput_: 

<img align="left" width="60" src="https://i.ibb.co/QmPdy4z/6s.png"></img>

<br>
<br>
<br>
<br>
<br>
<br>

**Example 2:** 

_Input_: `n=9` 

_Output_: 

<img align="left" width="90" src="https://i.ibb.co/k1yrMx8/9s.png"></img>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<hr/>

In [375]:
def print_same_line(x):
    print(x, end='')
    
def go_to_newline():
    print()
    
def right_triangle(n):
    """Takes an input n (1-9) and prints a right-aligned 
    triangle of n-rows such that such that 
    each row i (1 <= i <= n), in ascending order, is
    composed of only the ith number and the
    "length" of the row is equal to the value of i
    """
    
    i = 1
    while i <= n:
        
        j = 1
        while j <= n - i:
            print(' ', end='')
            j = j + 1
            
        k = 1
        while k <= i:
            print(i, end = '')
            k = k + 1
        
        print()
        i = i + 1
    return

right_triangle(9)

        1
       22
      333
     4444
    55555
   666666
  7777777
 88888888
999999999

In [ ]:
For n = 3
 
  1
 333
  1
 
For n = 5
 
  1
 333
55555
 333
  1

In [192]:
3-1

2

In [208]:
5-3-1

1

In [256]:
((5/2)+1) // 1

3.0

In [281]:
(1 + 5) / 2

3.0

In [371]:
def print_inverse_pyramid(x):
    
    i = x
        
    while i > 0:
        
        j = 1
        while j <= x - i:
            print(' ', end='')
            j = j + 1
            
        k = 1
        while k <= i:
            print(i, end = '')
            k = k + 1
        
        l = 1
        while l <= i-1:
            print(i, end = '')
            l = l + 1
            
        print()
        i = i - 1
        
        
        
print_inverse_pyramid(8)

888888888888888
 7777777777777
  66666666666
   555555555
    4444444
     33333
      222
       1

In [367]:
def print_pyramid(x):
    
    i = 1
    while i <= x:
        
        j = 1
        while j <= x - i:
            print(' ', end='')
            j = j + 1
            
        k = 1
        while k <= i:
            print(i, end = '')
            k = k + 1
        
        l = 1
        while l <= i-1:
            print(i, end = '')
            l = l + 1
            
        print()
        i = i + 1
        
    i = x-1
        
    while i > 0:
        
        j = 1
        while j <= x - i:
            print(' ', end='')
            j = j + 1
            
        k = 1
        while k <= i:
            print(i, end = '')
            k = k + 1
        
        l = 1
        while l <= i-1:
            print(i, end = '')
            l = l + 1
            
        print()
        i = i - 1
        
        
        
print_pyramid(8)

       1
      222
     33333
    4444444
   555555555
  66666666666
 7777777777777
888888888888888
 7777777777777
  66666666666
   555555555
    4444444
     33333
      222
       1

In [234]:
5-(5-1-1)

2