# Lecture 10.2. 

# Strings (continued)

# Wed, Nov 2nd 2022

# 10.2.1. Escaping characters

* To insert characters that are **normally not allowed** in a string, use the **escape character `\`**, followed by the character you want to insert.

* An example of an illegal character is a double quote inside a string that is surrounded by double quotes
    * Some common characters that need to be escaped: `"`, `'` and `\` itself i.e. 
        * `\"` Double Quotes
        * `\'`  Single Quote
        * `\\`  Backslash

In [241]:
txt = "This is a backslash \\\" and this is a forward slash /"
print(txt)

This is a backslash \" and this is a forward slash /

# 10.2.2. Special  Characters

* Escape character `\` is also used for some special characters, often representing whitespace:
    * `\n`  New Line
    * `\t`  Tab
    * `\r` - replaces `n` characters that preceed it with `n` characters that follow
    * `\b`  Backspace

In [9]:
from tqdm import tqdm 

for i in tqdm(range(10000*10000)):
    pass

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 100000000/100000000 [00:14<00:00, 6867836.57it/s]

In [8]:
print("aa\rb")

b

# 10.2.3. Multiline Strings

* You can assign a multiline string to a variable by using three quotes:

In [33]:
type(lyrics), str("abcdef")

(str, 'abcdef')

In [34]:
lyrics = """ 
We don't need no education
We don't need no thought control
No dark sarcasm in the classroom
Teacher, leave them kids alone

Hey, teacher, leave them kids alone

All in all it's just another brick in the wall
All in all you're just another brick in the wall"""
print(lyrics)

We don't need no education
We don't need no thought control
No dark sarcasm in the classroom
Teacher, leave them kids alone

Hey, teacher, leave them kids alone

All in all it's just another brick in the wall
All in all you're just another brick in the wall

# 10.2.3. String formatting

* Recall how `+` operator becomes the **concatenation operator** when it is used with variables and/or values of type `str` 

* Python **does not allow concatenation** of **strings** with variables/values of type `int`/`float`/`bool`

In [11]:
var = "Catch "+ str(22)
print(var)

Catch 22

# 10.2.3.1. `" ".format(..)`

* In order to concatenate strings with numbers, you have to use **`.format()`** method


* The **`.format()`** method takes the passed arguments, formats them, and places them in the string where the placeholders `{}` are:

In [41]:
var = "The year is {}, The day is {}. The month is {}. The time is {}"
print(var.format(2022, 2, 11, 11.5))

The year is 2022, The day is 2. The month is 11. The time is 11.5

In [ ]:
year = 2022
txt = "The year is {} and the month is November. Once again, the year is {} and the day is {}"
print(txt.format(year, year, 2))

The `format()` method takes **unlimited number of arguments**, and are placed into the corresponding placeholders:

In [56]:
year = 2022
month = 11
thirdvalue = 3
var = "First placeholder {second}. Second placeh older {first}. Third placeholder: {none}"
var = var.format(first=year, second=month, none=3)
print(var)

First placeholder 11. Second placeholder 2022. Third placeholder: 3

In [ ]:
# MM/DD/YY
day = 12
year = 2022
value = "The year is {0:.2f}.The day is {1:02d}"
print(value.format(year, day))

In [31]:
"MM/DD/YY"

"{0:.1f}/{1:02d}/{2:.2f}".format(11, 10, 2022)

'11.0/10/2022.00'

In [ ]:
day = 2
month = 11
year = 2022
date = "One date format is {}/{}/{}"
print(date.format(month, day, year))

* Within curly brackets, you can further specify positional and formatting parameters. The format is as follows: 

* `{<position of input>:`**`<formatting>`**`}`

In [68]:
# MM/DD/YY
day = 12
"The day is {:02d}".format(day)

'The day is 12'

In [ ]:
total_amount = 20
tip = (20/100) * total_amount
tax = (6/100)  * total_amount
myorder = "Total bill: ${0:.0f}\nTax: ${2}\nRecommended tip (20%): ${1}"
print(myorder.format(total_amount, tip, tax))

Some (of many) **formatting** options, after `:` within `{}`: 

* `%s` - String (or any object with a string representation, like numbers)

* `%d` - Integers

* `%f` - Floating point numbers

* `%.<number of digits>f` - Floating point numbers with a fixed amount of digits to the right of the dot.

* `0<width>d` - Prepends 0s, if needed, to ensure minimum digits equal to `width`

In [ ]:
day = 2
month = 11
year = 2022
date = "One date format is {}/{:02d}/{:d}"
print(date.format(month, day, year))

In [69]:
"First placeholder: %s. Second Placeholder: %s" % ("a", "b")

'First placeholder: a. Second Placeholder: b'

# 10.2.3.2 `%` operator

* The `%` operator, followed by `s` or `d` or `f`, is an alternative to `.format()` method

* Syntax: `<format> % <value>` or `<format> % (<value 1>, <value 2> ..)`

    * `<format>`: string containing one or more `%s` 
    * `<values>`: one or more comma separated values of type `int`, `str`, `float`

In [37]:
d = 10
y = 2022
"The day is %s and the year is %s" % (d, y)

'The day is 10 and the year is 2022'


* Here are some basic argument specifiers you should know:

    * `%s` - String (or any object with a string representation, like numbers)

    * `%d` - Integers

    * `%f` - Floating point numbers

    * `%.<number of digits>f` - Floating point numbers with a fixed amount of digits to the right of the dot.

    * `%0<width>d` - Prepends 0s, if needed, to ensure minimum digits equal to width

In [ ]:
total_amount = 20
tip = (20/100) * total_amount
tax = (6/100)  * total_amount
myorder = "Total bill: $%d\nTax: $%.2f\nRecommended tip: $%.0f" % (total_amount, tip, tax)
print(myorder)

# 10.2.4. Some other useful built-in String functions

* `string_var`**`.split(sep)`** - Return a list of the words in the string, using sep as the delimiter string.

* `string_var`**`.upper()`** - Return a copy of the string converted to uppercase.

* `string_var`**`.lower()`** - Return a copy of the string converted to lowercase.

* `string_var`**`.isalpha()`** - Return True if the string is an alphabetic string, False otherwise.

* `string_var`**`.isnumeric()`** - Return True if the string is a numeric string, False otherwise.

In [56]:
x = "162416a"
if x.isalpha():
    x = int(x)

# Question 1. Return the multiplication table of `n` 
Write a function that accepts as input `n` and **returns** the multiplication table of `n`, **upto `n x 10`**. For example, for `n=9`, the function should **return**: 

`9 x 1 = 9` \
`9 x 2 = 18` \
`9 x 3 = 27` \
... \
`9 x 10 = 90`

In [59]:
def multiplication_table(n):
    
    template = "{} x {}  = {}\n"
    table =""
    
    i = 1
    while i <= 10:
        line = template.format(n, i, n*i)
        table = table + line
        
        i = i + 1
    
    return table
    
print(multiplication_table(9))

9 x 1  = 9
9 x 2  = 18
9 x 3  = 27
9 x 4  = 36
9 x 5  = 45
9 x 6  = 54
9 x 7  = 63
9 x 8  = 72
9 x 9  = 81
9 x 10  = 90

# Question 2. Date Format Conversion

Write a function that accepts as input a string of date in format **DD/MM/YYYY** and returns the date in the format **MM/DD/YY**

For example, for `in_date = 31/12/2022` should return  `12/31/2022`

In [61]:

def func(in_date):
    nums = in_date.split("/")
    out_date = "{}/{}/{}".format(nums[1], nums[0], nums[2])
    return out_date

func("31/12/2022")

'12/31/2022'

# Question 3. Zipper merge Strings

Write a function that takes two strings `a` and `b`, of equal length, as input and merges the two in an alternating pattern i.e. one character from `a` followed by one character from `b`. 

For example, `a="abcd"` and `b="efgh"` should return `"aebfcgdh"`