# Lecture 10.3. 

# Friday, Nov 4th

# Sets and Tuples

## 10.2.0. Data Structures, in Python

* Python has **4 built-in data types** used to store collections of data:
    1. Lists  (Week 9)
    2. **Tuples** (Week 10)
    3. **Sets**   (Week 10)
    4. Dictionary (Week 13)

* Each of the data structures have different qualities and usage.


* So far, we have seen only two compound types: 1) **Strings** and 2) **Lists**

* One of the primary differences we noted is that:
    * **Elements of a list can be modified** (mutable)
    * **Characters in a string cannot be changed** (immutable). 
    
<br/>
    
Structure | Collection | Syntax | Ordered | Indexed | Mutable | Passed By | Duplicates Allowed 
:------------: |  :-------------:|:-------------:|:-------------:| :-------------:| :-------------:| :-------------:|:-------------:
`strings` | characters | `" "` | &check; |&check; | &cross; | value | &check;
`list` | any data type | `[ ]` | &check; |&check; |  &check; | reference | &check;

In [463]:
def func(y):
    y.append(4)
    
x = [1, 2, 3]
func(x)
print(x)

[1, 2, 3, 4]

In [465]:
def func(y):
    y = y + "4"
    print("Inside func", y)
    
x = "4"
func(x)
print(x)

Inside func 44
4

In [462]:
"""
Strings are immutable
"""
string = "south"
# string[0] = "m"
new_string = string.replace("s", "m")
print(string, new_string)

"""Lists are mutable"""
listt = [1, 2, 3]
listt[0] = "m"
print(listt)

south mouth
['m', 2, 3]

# 10.2.1. TUPLES

* A tuple, like a list, is a **sequence of items of any type**.


* Unlike lists, however, tuples are immutable.


Type | Collection of| Syntax | Ordered | Indexed | Mutable | Passed By | Duplicates Allowed 
:------------: | :-------------:|:-------------:|:-------------:|:-------------:| :-------------:| :-------------:|:-------------:
`strings` | characters | `" "` | &check; |&check; | &cross; | value | &check;
`list` | any data type | `[ ]` | &check; |&check; |  &check; | reference | &check;
**`tuple`** | **any data type** | `( )` | &check; | **&check;** |  **&cross;** | **value** | **&check;**

* **Syntactically**, a tuple is a **comma-separated** sequence of **values**:

In [466]:
tup1 = 2, 4, 6, 8, 10, 2
print(tup1)

(2, 4, 6, 8, 10, 2)

* Although it is not necessary, it is **conventional to enclose** tuples in **parentheses**:

In [467]:
tup2 = (2, 4, 6, 8, 10, 2)
print(tup2)

(2, 4, 6, 8, 10, 2)

* To create a tuple with a **single element**, we have to include the **final comma**:

In [ ]:
listt = [5]
print(type(listt), listt)

In [470]:
tup = (5,)
print(type(tup), tup)

<class 'tuple'> (5,)

* Without the comma, Python treats (5) as an integer in parentheses:

In [471]:
tup = (5)
print(type(tup), tup)

<class 'int'> 5

* Syntax issues aside, tuples support the same sequence operations as strings and lists. 

* The **index operator** selects an element from a tuple.

In [473]:
tup = ('a', 'b', 'c', 'd', 'e')
tup[4]

'e'

* And the **slice operator** selects a range of elements.

In [474]:
tup = ('a', 'b', 'c', 'd', 'e')

tup[2:4]

('c', 'd')

* **Concatenation Operator** `+` works the same as with lists and strings

In [475]:
tup1 = ('X',) 
tup2 = ('a', 'b', 'c', 'd', 'e')
tup = tup1 + tup2
tup

('X', 'a', 'b', 'c', 'd', 'e')

* When we try to use item assignment to modify one of the elements of the tuple, we get an error:

In [479]:
tup = (1, 2, 3)
tup[0] = 'X'

TypeError: 'tuple' object does not support item assignment

# QUESTION 1. 

Find below the exam score of three students Jane, John and Mary. 

Compute the average exam score for the three.

In [480]:
student1 = ("Jane Doe", 80, "Chemistry")
student2 = ("John Doe", 75, "Computer Science")
student3 = ("Mary Sue", 100, "Maths")

avg = (student1[1] + student2[1] + student3[1])/3

print(avg)

85.0

# 10.2.1.a. Tuple assignment

* Once in a while, it is useful to **swap the values of two variables**. 

    * With conventional assignment statements, we have to use a **temporary variable**. 

* For example, to swap `a` and `b`:

In [481]:
a = "a"
b = "b"
temp = a
a = b
b = temp
print(a, b)

b a

* Python provides a form of tuple assignment that solves this problem neatly:

In [487]:
a = "a"
b = "b"
c = "c"
d = "d"

a, b, c, d = b, b, b, b

print(a, b, c, d)

b b b b

* The left side is a **tuple of variables**; the right side is a **tuple of values**. 
* Each **value** is assigned to its **respective variable**. 
* This feature makes tuple assignment quite versatile.
* The **number of variables on the left** _and_ **the number of values on the right** have to be the same.

# 10.2.1.b.  Tuples as return values

* Functions can return tuples as return values.

In [489]:
def find_min_max(numbers):
    

    min_val = 9999
    max_val = -9999

    i = 0
    while i < len(numbers):
        if numbers[i] < min_val:
            min_val = numbers[i]
        
        if numbers[i] > max_val:
            max_val = numbers[i]
            
        i = i + 1
        
    return min_val, max_val


minimum, maximum = find_min_max([3, 1, 5, 4, 2])
print(minimum, maximum)

1 5

* Reminder: Tuples are **passed to functions by value**

* Translation: Any **changes** you make **inside a function**, would _NOT_ be **reflected outside the function**

In [ ]:
def swap(inputs):
    x, y = inputs
    y, x = x, y
    
a, b = "a", "b"
swap((a, b))
print(a, b)

# QUESTION 2. 

Write a function `swap` that accepts as input a tuple `tup_in` of length=2 and returns a tuple `tup_out` with values of `tup_in` swapped.

In [ ]:
def swap(tup):
    
    

assert swap(("a", "b"))==("b", "a"), "Test case 1 failed"

# QUESTION 3. 

Write a function that accepts as input a list `sequence` and returns `(first_item, last_item)`.

In [ ]:
def get_first_and_last(sequence):
    return sequence[0], sequence[-1]
    
assert get_first_and_last([4, 5, 1, 3, 2])==(4, 2),    "Test case 1 passed"
assert get_first_and_last([42])           ==(42,42),   "Test case 2 passed"
assert get_first_and_last("apple")        ==("a","e"), "Test case 3 passed"

print("All test cases passed")

# 10.2.2. SETS

* Sets, similar to lists and tuples, are used to store multiple items in a single variable.

* A set is a collection which is **unordered** and **unindexed**.

    * Set items are unchangeable, but you can remove items and add new items.
    
    <br/>

Type | Collection | Syntax | Ordered | Indexed | Mutable | Passed By | Duplicates Allowed 
:------------: | :-------------:|:-------------:|:-------------:|:-------------:| :-------------:| :-------------:|:-------------:
`strings` | characters | `" "` | &check; |&check; | &cross; | value | &check;
`list` | any data type | `[ ]` | &check; |&check; |  &check; | reference | &check;
`tuple` | any data type | `( )` | &check; | &check; |  &cross; | value | &check;
**`set`** | **any data type** | **`{ }`** | **&cross;** | **&cross;** |  **&cross;** | **value** | **&cross;**

### 10.2.2.1. Creating a Set

* Sets are written with curly brackets `{ }`

In [ ]:
colors =  {"blue", "red", "green"}
colors2 = ["blue", "red", "green"]

print(colors)
print(colors2)
print(type(colors))
print(type(colors2))

### 10.2.2.2. Sets are Unordered

* Unordered means that the items in a set do not have a defined order.

* Set items can appear in a **different order every time** you use them

* Set items **cannot be referred to by index or key**.

In [ ]:
a = {"blue", "red", "green"}
print(a)

### 10.2.2.3. Immutable

* Set items are **immutable**: cannot be change the items after the set has been created.

* After creation of set, its items cannot be changed
    * You can remove items and add new items.
    
* **Passed** to functions **by value**

In [ ]:
def func(a):
    a = {"blue", "red", "green", "yellow"}

a = {"blue", "red", "green"}

func(a)

print(a)

### 10.2.2.4. Duplicates Not Allowed

 * Sets cannot have two items with the same value.

 * Duplicate values will be ignored:

In [378]:
thisset = {"blue", "red", "green", "red", "red", "green"}

print(thisset)

print(len(thisset))

{'green', 'blue', 'red'}
3

### 10.2.2.5. Length of Set

* Get the Length of a Set

* To determine how many items a set has, use the len() function.

* Get the number of items in a set:

In [379]:
listt = ["blue", "red", "green", "red", "red"]
print(listt)

['blue', 'red', 'green', 'red', 'red']

In [380]:
listt = set(listt)
print(listt)

{'green', 'blue', 'red'}

## 10.2.2.6. Set Items - Data Types

* Set items can be of any data type e.g. `str`, `int`, `float` and `bool`

In [ ]:
string = "aaab"
set(string)

In [386]:
set1 = {"blue", "red", "green",}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = {"abc", 34, True, 40, "male"}

print(set4)

{True, 34, 40, 'male', 'abc'}

## 10.2.2.7. Set Operations: Add Set Items

* Once a set is created, you cannot change its items, but you can add new items.
* To add one item to a set use the `add()` method.

In [394]:
listt = [1, 2, 3]
listt.append(4)
print(listt)

[1, 2, 3, 4]

In [395]:
string = "abc"
string = string + "d"
print(string)

abcd

In [405]:
thisset = {"blue", "red", "green"}
thisset.add("orange")
print(thisset)

{'green', 'blue', 'red', 'orange'}

## 10.2.2.8. Update Sets

* To add items from another set into the current set, use the `update()` method.

* Add elements from color_1 into color_2:

In [415]:
color_1 = {"blue", "red", "green"}
color_2 = {"yellow", "indigo", "orange"}

color_1.update(color_2)

# color_1.add("yellow")
# color_1.add("indigo")
# color_1.add("orange")

print(color_1)
print(color_2)

{'blue', 'red', 'indigo', 'yellow', 'green', 'orange'}
{'indigo', 'orange', 'yellow'}

## 10.2.2.9. Remove Item

* To remove an item in a set, use the `remove()`, or the `discard()` method.

* If the item to remove does not exist, `discard()` will NOT raise an error.

In [428]:
thisset = {"blue", "red", "green"}
thisset.remove("blue")
print(thisset)

{'green', 'red'}

In [429]:
thisset = {"blue", "red", "green"}
thisset.discard("blue")
print(thisset)

{'green', 'red'}

In [423]:
thisset = {"blue", "red", "green"}
thisset.clear()
print(thisset)

set()

# Set Operations

<center><img src="https://miro.medium.com/max/1000/1*p_tVVeiut8GNxGKoSZa6cw.png"></img></center>

## 10.2.2.10. Set Operations - Union

* There are several ways to join two or more sets in Python.

* You can use the `union()` or `update()` method that returns a new set containing all items from both sets

* Both `union()` and `update()` will exclude any duplicate items.

In [435]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1 = set1.union(set2)
print(set1)
print(set2)

{1, 2, 3, 'b', 'a', 'c'}
{1, 2, 3}

## 10.2.2.11. Set Operations - Intersection

The `intersection_update()` method will keep only the items that are present in both sets.

Keep the items that exist in both set `x`, and set `y`:

In [449]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
x = x.intersection(y)

print(x)

{'apple'}

The `intersection()` method will **return a new set**, that only contains the items that are present in both sets.

Return a set that contains the items that exist in both set `x`, and set `y`:

In [436]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x = x.intersection(y)

print(x)

{'apple'}

## 10.2.2.12. Symmetric Difference

* Keep All, But NOT the Duplicates

*  The `symmetric_difference_update()` method will keep only the elements that are NOT present in both sets.

In [450]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'banana', 'google'}

The `symmetric_difference()` method will return a new set, that contains only the elements that are NOT present in both sets.

Return a set that contains all items from both sets, except items that are present in both:

In [451]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z =  x.symmetric_difference(y)

print(z)

{'microsoft', 'cherry', 'banana', 'google'}

# To Summarize:
<br/>

Type | Collection | Syntax | Ordered | Indexed | Mutable | Passed By | Duplicates Allowed 
:------------: | :-------------:|:-------------:|:-------------:|:-------------:| :-------------:| :-------------:|:-------------:
`strings` | characters | `" "` | &check; |&check; | &cross; | value | &check;
`list` | any data type | `[ ]` | &check; |&check; |  &check; | reference | &check;
`tuple` | any data type | `( )` | &check; | &check; |  &cross; | value | &check;
`set` | any data type | `{ }` | &cross; | &cross; |  &cross; | value | &cross;

# QUESTION 4

Write a function that accepts as input a list or string `sequence` and returns a set of unique items in `sequence`

In [457]:
# a = {}
a = set()
type(a)

set

In [ ]:
def drop_duplicates(sequence):
    
    return 
    
    
assert drop_duplicates([1, 1, 2, 2, 2, 3, 3])=={1, 2, 3}
assert drop_duplicates("aaaabbbbccccc")=={"a", "b", "c"}
assert drop_duplicates([1, 2, 3])=={1, 2, 3}